.Home {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home_container {
  flex: 1;
  overflow: auto;
}

.home_container::-webkit-scrollbar {
  display: none;
}

.curr_date_text {
  margin: 20px;
  font-weight: bold;
}
