/* ICON */
.Icon {
  display: flex;
  height: 68px;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #eeeeee;
}

.Icon div {
  display: flex;
  color: #cacaca;
  font-size: 30px;
}
